:root {
  --header-height: 80px;
  --footer-height: 90px;

  --block-inner-shadow: #32325D40 0px 8px 15px -12px inset, #0000004D 0px 5px 9px -5px inset;
  --block-outer-shadow: #32325D1A 0px 2px 4px, #0000000D 0px 1px 2px;

  // COLORS
  --gray-10: #ddd;
  --gray-25: #ccc;
  --gray-50: #999;
  --gray-75: #666;
  --gray-100: #333;

  --orange-10: #FEDDC7;
  --orange-25: #FCC39B;

  --green-10: #CAF1D8;
}
